
@{
    ViewBag.Title = "我的申请";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<script src="~/Content/Plugins/ace/assets/js/jquery.dataTables.min.js"></script>
<script src="~/Content/Plugins/ace/assets/js/jquery.dataTables.bootstrap.min.js"></script>
<div class="row">
    <div class="col-sm-12">
        <h3 class="header blue lighter smaller">
            我的申请列表
        </h3>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-3 form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="txtKeyWord">
                                关键字
                            </label>
                            <div class="col-sm-9">
                                <input onkeyup="refreshDataTable();" type="text" id="txtKeyWord"
                                       placeholder="关键字"
                                       class="col-xs-10 col-sm-10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="selstate">
                                状态
                            </label>
                            <div class="col-sm-9">
                                <select id="selstate" class="col-xs-10 col-sm-10" onchange="refreshDataTable();">
                                    <option selected="selected" value="-1">请选择</option>
                                    <option value="0">禁用</option>
                                    <option value="1">正常</option>
                                    <option value="2">挂起</option>
                                    <option value="3">结束</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-horizontal" role="form">
                        <span class="input-group-btn" onclick="refreshDataTable();">
                            <button type="button"
                                    class="btn btn-inverse btn-white">
                                <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                查询
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center" style="max-width: 50px; min-width:50px; width: 50px;">
                        序号
                    </th>
                    <th class="center col-sm-2">流程模板</th>
                    <th class="center col-sm-2">流程编号 </th>
                    <th class="center col-sm-2">申请人 </th>
                    <th class="center col-sm-2">填表人 </th>
                    <th class="center col-sm-1">状态</th>
                    <th class="center col-sm-3">申请时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    var dynamictable;
    function loadPageInit() {
        dynamictable = $("#dynamic-table").dataTable({
            language: lang,  //提示信息
            autoWidth: false,  //禁用自动调整列宽
            stripeClasses: ["odd", "even"],  //为奇偶行加上样式，兼容不支持CSS伪类的场合
            processing: true,  //隐藏加载提示,自行处理
            serverSide: true,  //启用服务器端分页
            searching: false,  //禁用原生搜索
            orderMulti: false,  //启用多列排序
            renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
            pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
            "ordering": true,
            "order": [[3, "desc"]],
            columnDefs: [{
                orderable: false,//禁用排序
                targets: [0, 5]   //指定的列
            }],
            "fnInitComplete": function (oSettings, json) {
            },
            ajax: function (data, callback, settings) {
                //ajax请求数据
                $.ajax({
                    url: "../Personal/getMyApplyList",
                    type: 'POST',
                    cache: false,  //禁用缓存
                    data: {
                        keyword: escape($.trim($("#txtKeyWord").val())),
                        state: $.trim($("#selstate").val()),
                        start: data.start,
                        length: data.length
                    },  //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        if (result.code == "200") {
                            setTimeout(function () {
                                //封装返回数据
                                var returnData = {};
                                returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                                returnData.recordsTotal = result.totle;//返回数据全部记录
                                returnData.recordsFiltered = result.totle;//后台不实现过滤功能，每次查询均视作全部结果
                                returnData.data = result.data;//返回的数据列表
                                callback(returnData);
                            }, 200);
                        }
                        else {
                            layer.alert(result.message);
                        }
                    }
                });
            },
            "ordering": false,
            columns: [
                {
                    "data": "index", 'sClass': "text-center"
                },
                {
                    "data": "TmpName", 'sClass': "text-center", render: function (innerData, sSpecific, oData) {

                        return oData.TmpName + "（" + oData.TmpKey + "）";
                    }
                },
                {
                    "data": "FormID", 'sClass': "text-center"
                },
                {
                    "data": "ApplyUserName", 'sClass': "text-center", render: function (innerData, sSpecific, oData) {
                        if (!$.isempty(oData.ApplyUserName)) {
                            return oData.ApplyUserName + "（" + oData.ApplyUserCode + "）";
                        }
                        return "";
                    }
                },
                {
                    "data": "WriterUserName", 'sClass': "text-center", render: function (innerData, sSpecific, oData) {
                        if (!$.isempty(oData.WriterUserName)) {
                            return oData.WriterUserName + "（" + oData.WriterUserCode + "）";
                        }
                        return "";
                    }
                },
                {
                    "data": "StateName", 'sClass': "text-center"
                },
                {
                    "data": "CreateTime", 'sClass': "text-center", render: function (innerData, sSpecific, oData) {
                        if (!$.isempty(oData.CreateTime)) {
                            return ChangeDateFormat(oData.CreateTime);
                        }
                        return "";
                    }
                }
            ]
        });
    }
    $(document).ready(function () {
        loadPageInit();
    });
    function refreshDataTable() {
        $("#dynamic-table").DataTable().ajax.reload();
    }
</script>