<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link rel="shortcut icon" href="~/Content/img/ak47.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/font-awesome/4.5.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Content/Plugins/ace/assets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/Plugins/ace/assets/js/html5shiv.min.js"></script>
    <script src="~/Content/Plugins/ace/assets/js/respond.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script src="~/Content/Plugins/ace/assets/js/jquery-2.1.4.min.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Content/Plugins/ace/assets/js/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <script src="~/Content/js/wfframework.js"></script>
    <script src="~/Content/Plugins/layer/layer.js"></script>

    <script src="~/Content/Plugins/ace/assets/js/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="~/Content/Plugins/ace/assets/css/jquery-ui.min.css" />

    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/Plugins/ace/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/Plugins/ace/assets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <!--[if lte IE 8]>
    <script src="~/Content/Plugins/ace/assets/js/excanvas.min.js"></script>
    <![endif]-->
    <!-- ace scripts -->
    <script src="~/Content/Plugins/ace/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/Plugins/ace/assets/js/ace.min.js"></script>
    <link href="~/Content/Plugins/bootstrapswitch/bootstrap-switch.css" rel="stylesheet" />
    <script src="~/Content/Plugins/bootstrapswitch/bootstrap-switch.js"></script>
    <style>
        .dataTables_wrapper .row:first-child {
            display: none;
        }

        .dataTables_wrapper .row:last-child {
            border-bottom: none;
            background-color: inherit;
        }

            .dataTables_wrapper .row:last-child div:first-child {
                padding-left: 0px;
            }

            .dataTables_wrapper .row:last-child div:last-child {
                padding-right: 0px;
            }

        .dataTables_paginate .pagination {
            margin: 0px;
        }
    </style>
    <script type="text/javascript">

        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
        (function ($) {
            if ($ != null && $ != undefined) {
                //备份jquery的ajax方法
                var _ajax = $.ajax;
                //重写jquery的ajax方法
                $.ajax = function (opt) {
                    var data = {
                        rand: Math.random()
                    };
                    var newdata = $.extend(data, opt.data);
                    opt.data = newdata;
                    _ajax(opt);
                };
            }
        })(jQuery);
    </script>
</head>
<body class="no-skin">
    <div class="main-container ace-save-state" id="main-container">
        <div class="main-content">
            <div class="main-content-inner">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>