
@{
    ViewBag.Title = "FlowDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/Plugins/bootstrapcontentmenu/bootstrap-contextmenu.js"></script>
<script src="~/Content/Plugins/bootstrapcontentmenu/prettify.js"></script>
<script src="~/Content/js/draw-min.js"></script>
@*<script src="~/Content/js/workflow.js"></script>*@
<script src="~/Content/js/wfdesign.js"></script>
<script type="text/javascript">
    curmenuurl = applicationPath + "/flow/TmpList";
    menuname = "流程设计";
</script>
<input type="hidden" id="hidkey" value="@ViewBag.key" />
<div class="page-header"  >
    <h1>
        <small>
            流程模板名称：@ViewBag.tmp.TmpName
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-sm btn-primary" onclick="addNode();">添加节点</button>
        <button class="btn btn-sm btn-primary" onclick="addRule();">添加规则</button>
        <button class="btn btn-sm btn-primary">保存</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="divdesign" style="margin:0;  padding:0; border:1px solid red"></div>
    </div>
</div>
<div id="context-menu">
    <ul class="dropdown-menu" role="menu">
        <li><a tabindex="-1" href="#">属性</a></li>
        <li><a tabindex="-1" href="#">删除</a></li>
    </ul>
</div>


